<h1>Изменить маршрут</h1>

<%= form_with(model: @route, url: admin_route_path, method: :patch) do |form| %>

  <%= render "common/errors", model: @route %>
  <div>
    <%= form.label :railway_station_ids,  "Текущая станция" %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true} %>
  </div>

  <div>
    <%= form.submit 'Изменить' %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Вернуться", admin_routes_path %>
</div>
 