  <p style="color: green"><%= notice %></p>

<h1>Маршруты</h1>

<div id="routes">
  <% @routes.each do |route| %>
    <%= render route %>
    <p>
      <%= link_to " Показать", [:admin, route] %>
      <%= link_to " Изменить", edit_admin_route_path(route) %>
      <%= button_to " Удалить", [:admin, route], method: :delete, data: { confirm: "Вы уверены?"} %>
    </p>
  <% end %>
</div>

<%= link_to "Создать", new_admin_route_path %>
