<h1>Вагон №<%= @carriage.number %></h1>

<p>
  Поезд: <%= @carriage.train.number %>	
</p>

<p>
  Верхник сидений <%= @carriage.top_seats %>
</p>

<p>
  Нижних сидений <%= @carriage.bottom_seats %>
</p>

<p>
  Верхних боковых сидений <%= @carriage.side_top_seats %>
</p>

<p>
  Нижних боковых сидений <%= @carriage.side_bottom_seats %>
</p>

<%= link_to "Изменить", edit_admin_carriage_path(@carriage) %> 
<%= link_to "Назад", admin_train_path(@carriage.train) %> 

<%#= form_with(model: @carriage, url: admin_train_carriages_path) do |f| %>
