<h1> Поиск билета </h1>
<p><%= link_to "Купить билет", admin_trains_path, method: :post %></p>
<div class="raw">
	<%= form_tag search_path do %>
      <div class="col-md-4">
      	<%= select_tag :start_station, options_from_collection_for_select(@stations, :id, :title), class: 'form_control' %>
      </div>
      <div class="col-md-4">     
      	<%= select_tag :end_station, options_from_collection_for_select(@stations, :id, :title), class: 'form_control' %>
      </div>
      <div class="col-md-4">
      	<%= submit_tag "Найти", class: 'btn btn-primary' %>
      </div>
    <% end %>
</div>