<p style="color: green"><%= notice %></p>

<h1>Пoезда</h1>

<div id="trains">
  <% @trains.each do |train| %>
    <%= render train %>
    <p>
      <%= link_to " Показать", train %>
      <%= link_to " Изменить", edit_train_path(train) %>
      <%= link_to " Удалить", train, method: :delete, data: { confirm: "Вы уверены?"} %>
    </p>
  <% end %>
</div>

<%= link_to "Создать", new_train_path %>
