<p style="color: green"><%= notice %></p>

<h1>Пoезда</h1>

<div id="trains">
  <% @trains.each do |train| %>
    <%= render train %>
    <p>
      <%= link_to " Показать", [:admin, train] %>
      <%= link_to " Изменить", edit_admin_train_path(train) %>
      <%= button_to " Удалить", [:admin, train], method: :delete, data: { confirm: "Вы уверены?"} %>
    </p>
  <% end %>
</div>

<%= link_to "Создать", new_admin_train_path %>
