<h1>Новый поезд</h1>

<%= form_with(model: @train) do |form| %>
  <% if @train.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
        <% @train.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.submit 'Создать' %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Вернуться", trains_path %>
</div>
