<h1>Новый поезд</h1>

<%= form_with(model: @train, url: admin_trains_path) do |form| %>
  <%= render "common/errors", model: @train %>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>  

  <div>
    <%= form.label :current_station_id,  "Текущая станция" %>
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div>
    <%= form.submit 'Создать' %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Вернуться", admin_trains_path %>
</div>
