<p style="color: green"><%= notice %></p>

<%= render @train %>

  <p>
    <strong>На станции:</strong>
    <% if @train.current_station.present? %>
      <%= @train.current_station.title %>
    <% else %>
      Не указано
    <% end %>
  </p>

  <p>
    <strong>Вагоны</strong>
    <ul>
      <% @train.carriages.each do |car| %>
        <li><%= link_to "Вагон №#{car.number}", admin_carriage_path(car) %></li>
      <% end %>  
    </ul>
  </p>

  <p>
    <%= link_to "Добавить вагон", new_admin_train_carriage_path(@train) %> 
  </p>
<div>
  <%= link_to "Изменить", edit_admin_train_path(@train) %> |
  <%= link_to "Вернуться", admin_trains_path %>
  <%= button_to "Удалить", admin_train_path(@train), method: :delete %>
</div>